#content {
    height: 100vh;
    width: 100%;
    background-color: #355E3B;
}

#welcome-box{
    float: left;
    width: 65%;
    height: 409px;
}

#welcome-box p {
    margin-left:50px;
    color: white;
    width: 300px;
    font-size: 30px;
}

#welcome-image {
    float:right;
    width: max-content;
}